In [4]:
import numpy as np
from cities.utils.data_grabber import find_repo_root, MSADataGrabberCSV, DataGrabberCSV
import pandas as pd
import numpy as np
import requests
from us import states

root = find_repo_root()

data = DataGrabberCSV()
data.get_features_wide(["gdp"])
gdp = data.wide["gdp"]

dataMA = MSADataGrabberCSV()
dataMA.get_features_wide(["gdp_ma"])
gdp_ma = dataMA.wide["gdp_ma"]

In [25]:
#total / urban / rural

variables =  "NAME,H2_001N,H2_002N,H2_003N"
county_fips = "*" # all counties
tract = "*" # all tracts
api_key = '077d857d6c12d5b9b3aeafa07d2c1916ba12a86c' # private api key required to access the data https://api.census.gov/data/key_signup.html
year = 2020


dfs = []


for x in range(0, len(states.STATES)): # in this call it's not possible to use the '*' wildcard to access all states, so we need to iterate over all states
    fips = states.STATES[x].fips

    url = f'https://api.census.gov/data/{year}/dec/dhc?get={variables}&for=tract:{tract}&in=state:{fips}&in=county:{county_fips}&key={api_key}'
    

    response = requests.get(url)

    assert response.status_code == 200, 'The data retrieval went wrong'  # 200 means success

    print(f'{fips} fips done')
    
    data = response.json()

    df = pd.DataFrame(data[1:], columns=data[0])
    df['Year'] = year  # Add the year column

    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

01 fips done
02 fips done
04 fips done
05 fips done
06 fips done
08 fips done
09 fips done
10 fips done
12 fips done
13 fips done
15 fips done
16 fips done
17 fips done
18 fips done
19 fips done
20 fips done
21 fips done
22 fips done
23 fips done
24 fips done
25 fips done
26 fips done
27 fips done
28 fips done
29 fips done
30 fips done
31 fips done
32 fips done
33 fips done
34 fips done
35 fips done
36 fips done
37 fips done
38 fips done
39 fips done
40 fips done
41 fips done
42 fips done
44 fips done
45 fips done
46 fips done
47 fips done
48 fips done
49 fips done
50 fips done
51 fips done
53 fips done
54 fips done
55 fips done
56 fips done

In [32]:
urbanicity_post2020 = combined_df.copy()
urbanicity_post2020.head()

,NAME,H2_001N,H2_002N,H2_003N,state,county,tract,Year
0,Census Tract 307; Russell County; Alabama,1724,1724,0,01,113,030700,2020
1,Census Tract 308; Russell County; Alabama,1516,1510,6,01,113,030800,2020
2,Census Tract 309.03; Russell County; Alabama,1830,41,1789,01,113,030903,2020
3,Census Tract 309.04; Russell County; Alabama,1057,0,1057,01,113,030904,2020
4,Census Tract 309.05; Russell County; Alabama,1344,0,1344,01,113,030905,2020

In [27]:
#total / urban / rural

variables =  "NAME,H002001,H002002,H002005" # different variable names
county_fips = "*" # all counties
tract = "*" # all tracts
api_key = '077d857d6c12d5b9b3aeafa07d2c1916ba12a86c' # private api key required to access the data https://api.census.gov/data/key_signup.html
year = 2010


dfs = []


for x in range(0, len(states.STATES)): # in this call it's not possible to use the '*' wildcard to access all states, so we need to iterate over all states
    fips = states.STATES[x].fips

    url = f'https://api.census.gov/data/{year}/dec/sf1?get={variables}&for=tract:{tract}&in=state:{fips}&in=county:{county_fips}&key={api_key}'
    

    response = requests.get(url)

    assert response.status_code == 200, 'The data retrieval went wrong'  # 200 means success

    print(f'{fips} fips done')
    
    data = response.json()

    df = pd.DataFrame(data[1:], columns=data[0])
    df['Year'] = year  # Add the year column

    dfs.append(df)

combined_df_pre2020 = pd.concat(dfs, ignore_index=True)

01 fips done
02 fips done
04 fips done
05 fips done
06 fips done
08 fips done
09 fips done
10 fips done
12 fips done
13 fips done
15 fips done
16 fips done
17 fips done
18 fips done
19 fips done
20 fips done
21 fips done
22 fips done
23 fips done
24 fips done
25 fips done
26 fips done
27 fips done
28 fips done
29 fips done
30 fips done
31 fips done
32 fips done
33 fips done
34 fips done
35 fips done
36 fips done
37 fips done
38 fips done
39 fips done
40 fips done
41 fips done
42 fips done
44 fips done
45 fips done
46 fips done
47 fips done
48 fips done
49 fips done
50 fips done
51 fips done
53 fips done
54 fips done
55 fips done
56 fips done

In [31]:
urbanicity_pre2020 = combined_df_pre2020.copy()
urbanicity_pre2020.head()

,NAME,H002001,H002002,H002005,state,county,tract,Year
0,"Census Tract 201, Autauga County, Alabama",752,620,132,01,001,020100,2010
1,"Census Tract 205, Autauga County, Alabama",4308,4307,1,01,001,020500,2010
2,"Census Tract 203, Autauga County, Alabama",1326,1326,0,01,001,020300,2010
3,"Census Tract 204, Autauga County, Alabama",1823,1823,0,01,001,020400,2010
4,"Census Tract 202, Autauga County, Alabama",822,822,0,01,001,020200,2010

In [26]:
# # code for retrieving available variables

# variables_url = 'https://api.census.gov/data/2010/dec/sf1/variables.json'

# response = requests.get(variables_url)
# variables_info = response.json()

# variables_df = pd.DataFrame.from_dict(variables_info['variables'], orient='index').reset_index()

# variables_df.to_excel(f'{root}/data/variables.xlsx', index=False)

,NAME,state,county,tract,Year
0,"Census Tract 36, Jefferson County, Alabama",01,073,003600,2020
1,"Census Tract 37, Jefferson County, Alabama",01,073,003700,2020
2,"Census Tract 38.02, Jefferson County, Alabama",01,073,003802,2020
3,"Census Tract 38.03, Jefferson County, Alabama",01,073,003803,2020
4,"Census Tract 39, Jefferson County, Alabama",01,073,003900,2020
...,...,...,...,...,...
84203,"Census Tract 9635, Albany County, Wyoming",56,001,963500,2020
84204,"Census Tract 9636, Albany County, Wyoming",56,001,963600,2020
84205,"Census Tract 9637, Albany County, Wyoming",56,001,963700,2020
84206,"Census Tract 9639, Albany County, Wyoming",56,001,963900,2020
84207,"Census Tract 9709.02, Sweetwater County, Wyoming",56,037,970902,2020